<footer>

 <ul class="social-media"> 
    <li>
      <a href="www.twitter.ca"><i class="fab fa-twitter"></i></a>        
    </li> 
    <li>
     <a href="www.google.ca"><i class="fab fa-google"></i></a>   
    </li>
    <li>
     <a href="www.youtube.ca"><i class="fab fa-youtube-square"></i></a>   
    </li>
    <li>
     <a href="www.blog.ca"><i class="fas fa-blog"></i></a>   
    </li>
</ul>

 Copyright 2020 Brenda Liu
</footer>

</body>
</html>
