<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/images/c8.jpg" alt="" style="border-radius: 50%" />
  </div>
  <div class="headings">
    <h2>Cookies Recipes</h2>
    <h3>By Your Favorite Cookies</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>
